name: Project CI/CD
on: 
  push: 
    branches: 
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'npm'
      - run: cd frontend
      - run: npm ci
      - run: npm run build
      - run: npm test
                

