name: Project CI/CD
on: 
  push: 
    branches: 
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: read
jobs:
  build-front:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache-dependency-path: frontend/package-lock.json
          cache: 'npm'
      - run: npm ci
      - run: npm run build
      - run: npm test
  build-back:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.x'
      - run: dotnet test

